body{
    background-color: rgb(141, 162, 181);
    box-sizing: border-box;
}

h1{
    font-size: 30px;
    color: rgb(2, 5, 54);
    padding: 10px 20px;
    margin: 150px auto;
    border: 2px solid black;
    border-radius: 5px;
}